
.logo-img-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  padding: 1rem;
  z-index: 200;
  img {
    width: 100%;
  }

}


.image-grid-list-s1 {
  display: flex;
  flex-wrap: wrap;
  .s1-grid-item {
    width: 30%;
    margin: 1rem;
  }
  .s1-img-desc {
    text-align: center;
  }
}


.home-about-page {
  h2, h6 {
    text-align: center;
  }
  h6 {
    font-size: 1.7rem;
    font-weight: normal;
    a {
      padding: 0 1rem;
    }
  }
}


